<!-- <form>
  Email:<input type="text" name="email" [(ngModel)]="email"> <br>
  Password :<input type="password" name="password" [(ngModel)]="password"><br>
  <button class="btn btn-primary"(click)="validate()">Login</button>
</form> -->
<div>
  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="validate()">
    <h4>Please sign in</h4>
    <!-- <label class="font-weight-normal">Email</label> -->
    <input type="email" class="form-control" formControlName="email" placeholder="Email is required"><br>
    <div *ngIf="submitted && loginForm.controls.email.errors" class="error">
      <div *ngIf="loginForm.controls.email.errors.required" style="color:red">Email is required</div>
    </div>
    <!-- <label>Password</label> -->
    <input type="password" class="form-control" formControlName="password" placeholder="password is required">
    <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
      <div *ngIf="loginForm.controls.password.errors.required" style="color:red">Password is required</div>
    </div>

    <div *ngIf="invalidLogin" style="color:red">
      Invalid Credentials
    </div>

    <button class="btn btn-primary" type="submit">Sign-In</button>
  </form>
  <div *ngIf="guestStatus">
    <app-display-user [userdetails]="user" (outputEvent)="getOutput($event)"></app-display-user>
  </div>
</div>